<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bank</string>
	<string>Email</string>
	<string>Health</string>
	<string>Home</string>
	<string>Insurance</string>
	<string>Internet</string>
	<string>Membership</string>
	<string>Travel</string>
	<string>Work</string>
</array>
</plist>
