<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Education</string>
	<key>1</key>
	<string>Email</string>
	<key>2</key>
	<string>Entertainment</string>
	<key>3</key>
	<string>Finance</string>
	<key>4</key>
	<string>Home</string>
	<key>5</key>
	<string>Internet</string>
	<key>6</key>
	<string>Medical</string>
	<key>7</key>
	<string>Membership</string>
	<key>8</key>
	<string>Travel</string>
	<key>9</key>
	<string>Work</string>
</dict>
</plist>
